@import "tailwindcss";

:root {
  /* COLORS */
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --tertiary-color: #ff2a70;

  /* PADDING */
  --overskrift-padding-top: 10em;
  --section-padding: 3em;
  --padding: 2em;


}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main-border {
  border: 1px solid var(--tertiary-color);
  clip-path: polygon(
    30px 0,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0 30px
  );
}
.img-border{
    border: 1px solid var(--tertiary-color);
  clip-path: polygon(
    50px 0,
    100% 0,
    100% calc(100% - 50px),
    calc(100% - 50px) 100%,
    0 100%,
    0 50px
  );
}
